<div class="card mb-3" style="max-width: auto;">
    <div class="row g-0">
      <div class="col-md-4">
        <div class="card-body">
            <h1 class="display-3">Breaking 4Geeks</h1>
            <p class="card-text">Web developers are professionals who design, create, and maintain websites and web applications. They play a crucial role in building the online presence of businesses and individuals by leveraging various web development technologies. Overall, web developers are responsible for bringing websites and web applications to life, ensuring they are visually appealing, functional, secure, and provide an excellent user experience..</p>
          <p class="card-text"><small class="text-body-secondary">
            4Geeks is a technology education company that offers coding bootcamps, workshops, and other educational programs focused on software development and entrepreneurship.</small></p>
        </div>
       
      </div>
      <div class="col-md-8">
        <img src="assets/img/1.jpg" class="img-fluid rounded-circle float-end" alt="..."style="width: 200px; height: auto;">
      </div>
    </div>
  </div>
            
            
            